html, body {
  margin: 20px;
}

.sortable-placeholder {
  display: block;
  height: 0.8em;
  width: 250px;
  border: 1px dashed gray;
}

.draggable-item, .sortable-placeholder{
  float: left;
  width: 250px;
}

.draggable-item-handle {
  display: block;
  background: red;
  width: 50px;
  height: 50px;
}

.ember-drag-list {
  overflow: hidden;
}
